.CreateExams{
    width: 60%;
    margin: auto;
    @media only screen and (max-width: 600px)  {
        width: 100%;
    }
    h2{
        text-align: center;
    }
    .exam_name{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: left;
        flex-direction: row;
        align-items: center;
        
        input[type=text]{
            height: 50%;
            width: 450px;
            border-radius: 10px;
            cursor: pointer;
            padding: 0px 10px 0px 10px;
        }
        @media only screen and (max-width:600px){
            input{
                width: 200px;
            }
        }
        span{
            width: 150px;
        }
        button{
            height: 60%;
            margin-left: 10px;
            border-radius: 10px;
            cursor: pointer;

        }
    }
    .button_create{
        cursor: pointer;
    }
    .button_create:hover{
        background-color: lightblue;
    }
}